<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Thêm đầu số tổng đài</h4>
        </div>
        <div class="modal-body">
            <legend>Thông tin Command Code</legend>

            <div style="width: 90%; margin: 10px auto">
                <div class="sub">
                    <div class="editor-label">
                        <label for="txtTitle">Đầu số:</label>
                    </div>
                    <div class="editor-field">
                        <select>
                            <option value="0">Chọn</option>
                            <option value="8" selected="selected">7047</option>
                            <option value="1">7147</option>
                            <option value="2">7247</option>
                            <option value="3">7347</option>
                            <option value="4">7447</option>
                            <option value="5">7547</option>
                            <option value="6">7647</option>
                            <option value="7">7747</option>
                        </select>
                    </div>
                </div>

                <div class="sub">
                    <div class="editor-label">
                        <label for="txtTitle">Đối tác:</label>
                    </div>
                    <div class="editor-field">
                        <select>
                            <option value="0">Không</option>
                            <option value="8">abc xyz</option>
                        </select>
                    </div>
                </div>

                <div class="sub">
                    <div class="editor-label">
                        <label for="txtTitle">Sự kiên:</label>
                    </div>
                    <div class="editor-field">
                        <select>
                            <option value="0">Không</option>
                            <option value="8">abc xyz</option>
                        </select>
                    </div>
                </div>

                <div class="sub">
                    <div class="editor-label">
                        <label for="txtTitle">Cú Pháp: </label>
                    </div>
                    <div class="editor-field">
                        <input type="text" name="txtTitle" id="txtTitle" class="text ui-widget-content ui-corner-all">
                    </div>
                </div>
                
                <div class="sub">
                    <div class="editor-label">
                        <label for="txtTitle">Tiếp đầu ngữ: </label>
                    </div>
                    <div class="editor-field">
                        <input type="text" name="txtTitle" id="txtTitle" class="text ui-widget-content ui-corner-all">
                    </div>
                </div>

                <div class="sub">
                    <div class="editor-label" style="margin-top:40px">
                        <label for="txtTitle">Thông tin: </label>
                    </div>
                    <div class="editor-field">
                        <textarea class="text ui-widget-content ui-corner-all" cols="30"></textarea>
                    </div>
                </div>
            </div>

            <legend>Chọn nhà mạng</legend>

            <div style="width: 90%; margin: 10px auto">
                <div class="sub">
                    <div class="editor-label">
                        <label for="txtTitle"></label>
                    </div>
                    <div class="editor-field">                        
                        <input type="checkbox" />
                        VIETTEL
                        <br />
                        <input type="checkbox" />
                        VINAPHONE
                        <br />
                        <input type="checkbox" />
                        MOBILE PHONE
                        
                    </div>
                </div>
                <div style="clear: both"></div>                
            </div>

            <legend>Nội dung trả về</legend>
            <div style="width: 90%; margin: 10px auto">
                <div class="sub">
                    <div class="editor-label" style="margin-top:40px">
                        <label for="txtTitle">Nội dung: </label>
                    </div>
                    <div class="editor-field">
                        <textarea class="text ui-widget-content ui-corner-all" cols="30"></textarea>
                    </div>
                </div>
                <div class="sub">
                    <div class="editor-label">
                        <label for="txtTitle">Thời gian áp dụng:</label>
                    </div>
                    <div class="editor-field">
                        <input type="datetime-local" name="txtTitle" class="text ui-widget-content ui-corner-all"
                            style="padding:6px;width:250px">
                    </div>
                </div>                
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="button add">Thêm mới</button>
            <button type="button" class="button" data-dismiss="modal">Hủy</button>
        </div>
    </div>
</div>
