@model sms_source.Areas.admin.Models.telcos
@*Form Thêm*@
@using (Ajax.BeginForm("Insert", "Telcos", new AjaxOptions() { UpdateTargetId = "result" })){
<div id="result"></div>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Thông tin</h4>
        </div>
        <div class="modal-body">
            <div>
                <fieldset>
                    <legend>Thêm nhà mạng</legend>
                    <div style="float: left">
                        <div class="sub">
                            <div class="editor-label">
                                <label for="txtTitle">Tên nhà mạng:</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.telcos_name, new{ 
                               @required = "required",
                               @class="text ui-widget-content ui-corner-all",
                               @style ="width: 200px"} )
                            </div>
                        </div>
                        <div class="sub">
                            <div class="editor-label">
                                <label for="txtTitle">Mô tả:</label>
                            </div>
                            <div class="editor-field">                                
                                @Html.TextAreaFor(model => model.info, new
                                    {
                                        @class="text ui-widget-content ui-corner-all",
                                        @style ="width: 400px"
                                    } )
                            </div>
                        </div>                                               
                    </div>

                </fieldset>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="button add">Thêm mới</button>
            <button type="button" class="button" data-dismiss="modal">Hủy</button>
        </div>
    </div>
</div>
}