@model sms_source.Areas.admin.Models.partner

<script type="text/javascript">
    $(document).ready(function () {
        $('#isValidate').validate();
    });
</script>

@Ajax.BeginForm("Insert", "Partner", new AjaxOptions() { UpdateTargetId = "result" },new { @id="isValidate"}){
<div id="result"></div>
<div class="modal-dialog">
        <div class="modal-content"  style="float: left;">
            <div class="modal-header"  style="float: left;width: 96.5%;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Thông tin</h4>
            </div>
            <div class="modal-body" style="float: left">
                <div style="float: left; width: 35%">
                    <fieldset>
                        <legend>Thêm người dùng</legend>
                        <div class="sub">
                            <div class="editor-label">
                                <label>Quyền sử dụng:</label>
                            </div>
                            <div class="editor-field">
                                <select name="cbCategoryID" id="cbCategory">
                                    <option value="1">Administrator</option>
                                    <option value="2" selected="selected">Partner</option>
                                </select>
                            </div>
                        </div>
                        <div class="sub">
                            <div class="editor-label">
                                <label for="txtTitle">Tên đăng nhập:</label>
                            </div>
                            <div class="editor-field">
                                <input type="text" name="account.username" class="required text ui-widget-content ui-corner-all">
                            </div>
                        </div>
                        <div class="sub">
                            <div class="editor-label">
                                <label for="txtTitle">Mật khẩu:</label>
                            </div>
                            <div class="editor-field">
                                <input type="password" name="txtTitle" id="txtTitle" class="text ui-widget-content ui-corner-all">
                            </div>
                        </div>
                        <div class="sub">
                            <div class="editor-label">
                                <label for="txtTitle">Email:</label>
                            </div>
                            <div class="editor-field">
                                <input type="text" name="email" id="txtTitle" class="text ui-widget-content ui-corner-all">
                            </div>
                        </div>
                        <div class="sub">
                            <div class="editor-label">
                                <label for="txtTitle">Họ tên:</label>
                            </div>
                            <div class="editor-field">
                                <input type="text" name="txtTitle" id="txtTitle" class="text ui-widget-content ui-corner-all">
                            </div>
                        </div>
                        <div class="sub">
                            <div class="editor-label">
                                <label for="txtTitle">Công ty:</label>
                            </div>
                            <div class="editor-field">
                                <input type="text" name="txtTitle" id="txtTitle" class="text ui-widget-content ui-corner-all">
                            </div>
                        </div>
                        <div class="sub">
                            <div class="editor-label">
                                <label for="txtTitle">Số điện thoại:</label>
                            </div>
                            <div class="editor-field">
                                <input type="text" name="txtTitle" id="txtTitle" class="text ui-widget-content ui-corner-all">
                            </div>
                        </div>
                        <div class="sub">
                            <div class="editor-label">
                                <label>Trạng thái:</label>
                            </div>
                            <div class="editor-field">
                                <select name="cbCategoryID" id="cbCategory">
                                    <option value="1">Đang hoạt động</option>
                                    <option value="2">Ngừng hoạt động</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div style="float: right; width: 62%">
                    <fieldset>
                        <legend>Thông tin đăng kí dịch vụ</legend>
                        <div class="sub">
                            <div class="editor-label">
                                <label>Đầu số:</label>
                            </div>
                            <div class="editor-field">
                                <select name="cbCategoryID" id="cbCategory">
                                    <option value="0">Lựa chọn đầu số</option>
                                    <option value="1" selected="selected">7047</option>
                                    <option value="2">7147</option>
                                    <option value="3">7247</option>
                                    <option value="4">7347</option>
                                    <option value="5">7447</option>
                                    <option value="6">7547</option>
                                    <option value="7">7647</option>
                                    <option value="8">7747</option>
                                </select>
                            </div>
                        </div>
                        <div class="sub">
                            <div class="editor-label">
                                <label>Dịch vụ:</label>
                            </div>
                            <div class="editor-field">
                                <select name="cbCategoryID" id="cbCategory">
                                    <option value="0">Lựa chọn dịch vụ</option>
                                    <option value="1" selected="selected">Kết quả xổ số</option>
                                    <option value="2">Game đánh bài</option>
                                    <option value="3">Nhạc chờ điện thoại</option>
                                    <option value="4">Bóng đá</option>
                                </select>
                            </div>
                        </div>
                        <div class="sub">
                            <div class="editor-label">
                                <label>Mã dịch vụ:</label>
                            </div>
                            <div class="editor-field">
                                <select size="4" multiple="multiple" style="height: 153px; width: 400px;">
                                    <option>KQ</option>
                                    <option>KQXS</option>
                                    <option>XOSO</option>
                                    <option>XSMB</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>
            <div class="modal-footer" style="float: left;width: 95.5%;">
                <input type="submit" class="button add" value="Thêm mới" />
                <button type="button" class="button" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
}